In [1]:
import dhlab as dh
import dhlab.api.dhlab_api as api
import pandas as pd

In [2]:
tot = api.totals(200000)

In [4]:
def coll_periods(doc=None, fy=1900, ty = 2020, period = 10, word=None, before=10, after=10, ref=None, corpus_size=5000):
    colls_raw = []
    for year in range(fy, ty, period):
        print(year)
        coll = api.urn_collocation(
            urns = list(dh.Corpus(doctype=doc, fulltext = word, from_year= year, to_year = year + period, limit = corpus_size).corpus.urn),
            word=word,
            before=before, 
            after=after,         
        )
        if ref is not None:
            ref = ref/ref.sum()
            teller = coll["counts"]/coll["counts"].sum()
            coll[str(year)] = teller/ref
        #coll.columns=[str(year)]
        colls_raw.append(coll[[str(year)]])
    colls = pd.concat(colls_raw, axis=1)
    return colls

In [14]:
a = coll_periods(doc="digavis",
            fy=1970, ty=2020, word= 'oljeutvinning', ref=tot.freq)

1970
1980
1990
2000
2010

In [24]:
a.loc[[x for x in "oljeeventyret Nordsjøen klima klimakrisen klimakrise miljø miljøvern".split() if x in a.index]].fillna(0).sort_values(by=a.columns[0], ascending=False).head(20).style.format(precision=0).background_gradient(axis = 1)

In [21]:
a.sort_values(by=a.columns[1], ascending=False).fillna(0.head(20).style.format(precision=0).background_gradient(axis = 1)

In [ ]:
a.

In [57]:
c = dh.Corpus(doctype="digibok", from_year= 1980, to_year = 1990, limit = 5000)
coll = coll = api.urn_collocation(
            urns = list(c.corpus.urn),
            word="helse",
            before=0, 
            after=10,         
        )